{{!-- BASE DATA ABOUT THE SITE --}}

<nav class="footer">
    <div>
        <a href="#" class="nav-link nav-item" >Terms of use</a>
        <a href="\about" class="nav-link nav-item">About</a>
        <a href="#" class="nav-link nav-item">&#169;2022 All rights reserved </a>
    </div>
</nav>
