
 <nav class="nav-bar" >
    <div class="site-title">
        <a  href="/">Check Acronym</a>
    </div>

    <div class="header" >
    <div>
        <ul class="menu-right">
        {{!-- {% if user.is_authenticated %} --}}
        {{#if loggedin}}
                <li class="">
                    <a href="/index" class="">Home</a>
                </li>
                <li class="">
                    <a href="/create" class="">Add Acronym</a>
                </li>
        </ul>
    </div>

    <div class="menu-left">
        <ul class="menu-right">
            <li>
                <a class="" href="/logout">Logout 
                    {{#each result}}
                    {{this.firstname}}
                    {{/each}} 
                </a>
            </li>
            <li><a class="" href="#">My Notes and Mnemonics</a></li>
            <li><a class="" href="/profile">My profile</a></li>
        </ul>
    </div>

    {{else}}
            
    <div class="menu-right">
        <ul class="menu-right">
            <li class="">
                <a href="/" class="">Home</a>
            </li>
            <li class="">
                <a href="/user/signup" class="">Signup</a>
            </li>
            <li class="">
                <a href="/user/login" class="">Login</a>
            </li>
        {{/if}}
        </ul>
    </div>
    </div>
</nav>