<!doctype html>
<html>
<head>
    {{!-- Required meta tags  --}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- CSS --}}
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    {{!-- Google font --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

<title>{{title}}</title>
</head>
<body>
   
    {{> header}}

    <div class="search-bar">
        <form method="post" action="/search">
            <input type="search" name="search" placeholder="Search the acronym" id="search" required class="">
            <button type="submit" value="Search" class=""> Search </button>  
        </form>
    </div>
    <div class="body">
    {{{body}}}
    </div>

{{> footer}}
</body>
</html>