<main class="index">
        <section class="index-acronym">  
            {{#with searchResult as |search|}}
            {{#each search}}
            <p><a href="/acronym/{{this.id}}"> <span>{{this.acronym}}</span> in {{this.subject_area}}</a></p>
            {{/each}}
            {{/with}}
            <br>
        </section>
</main>