<br />
<div class="container">
  <div style="color: red; margin-bottom: 5px;">{{message}}</div>
  <form method="post" class="form">
    <div class="form-field">
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="Enter username" id="email" />
    </div>
    <div class="form-field">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        placeholder="Enter password"
        id="password"
      />
    </div>
    <div class="form-field">
      <button type="submit" value="Login">Login</button>
      <div>New?<a href="/user/signup"> Sign up here.</a>
  </div>
    </div>
  </form>
</div>