<div class="container">
    <strong><h2>Search results</h2></strong>

<div class="container shadow p-3 mb-5 rounded align-items-center">  
    <div>{{message}}</div>
{{#with searchResult as |search|}}
{{#each search}}
<p><a href="/acronym/{{this.id}}"> {{this.acronym}} in {{this.subject_area}}</a></p>
{{/each}}
{{/with}}
<br>
</div>
</div>