<h1>SIGN UP FORM</h1>
<div class="sign-up">
  <form class="form" method="POST" action="/user/signup">
     <div class="form-field">
     <div class="">{{message}}</div> 
         <label for="firstname">First name</label>
        <input type="text" name="firstname" id="firstname" placeholder="Enter first name" required>
    </div>
    <div class="form-field">
         <label for="lastname">Last name</label>
         <input type="text" name="lastname" id="lastname" placeholder="Enter last name" required>
    </div>
    <div class="form-field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter email" required>
    </div>
    <div class="form-field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Enter password" required>
    </div>
    <div class="form-field">
      <label for="confirm_password">Confirm Password</label>
      <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password" required>
    </div>
    <div class="form-field">
      <button type="submit" value="Sign Up">Sign Up</button>
      <div>Have account already? <a href="/user/login"> Login</a></div>
    </div>
</form>
</div>
