/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Outfit';
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: none;
}

ul li {
    list-style: none;
}

.nav-bar {
    background-color: #c8e3db;
    color: white;
    height: 70px;
    width: 100%;
    display: flex;
}
.site-title {
    color: black;
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
    width: 200px;
    align-items: center;
    display: flex;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    margin-left: 50px;
    width: 80%;
    gap: 250px;
    font-weight: 600;
}

.menu-right {
    display: flex;
    gap: 15px;
    justify-content: right;
}

.menu-left {
    display: flex;
    gap: 15px;
    justify-content: left;
}
.search-bar {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 6px;
}
.search-bar form {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: auto;
    gap: 5px;
}
.search-bar input{
    width: 800px;
    height: 40px;
    padding: 20px;
    border-radius: 6px;
    outline-style: none;
    border-width: 2px;
    border-color: rgba(227, 240, 247, 0.911);
}
.search-bar button{
    width: 80px;
    height: 40px;
    border-radius: 50px;
    color: green;
    border-style: none;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 3px;
    height: 40px;
    padding-left: 20px;
    padding-bottom: 9px;
}
.footer div {
    display: flex;
    gap: 20px;
    padding-top: 110px;
    padding-bottom: 20px;
}

.body {
    margin: 2px 200px;
    padding: 3px 20px;
    width: 60%;
}

.acronym-form {
    display:  flex;
    flex-direction: column;
    width: 90%;
}
.acronym-form label {
    font-size: 18px;
    font-weight: 400;
    padding: 6px;
}
.acronym-form input {
    width: 300px;
    height: 30px;
    text-indent: 9px;

}
.acronym-form select {
    width: 300px;
    height: 30px;
    text-indent: 9px;

}
.acronym-form textarea {
    width: 300px;
    height: 70px;
    text-indent: 9px;
    resize: none;
}
.acronym-form button {
    width: 80px;
    height: 40px;
    color: white;
    font-size: 18px;
    line-height: 9px;
    color: green;
    border-style: none;
}
.acronym-form input, select, textarea, button {
    border-radius: 5px;
    outline-style: none;
    border-width: 3px;
    border-color: rgba(227, 240, 247, 0.911);
    margin-top: 5px;
}
.acronym-form input::placeholder {
    padding: 9px;
}

.display-acronym-title {
    width: fit-content;    
    font-size: 18px;
    box-shadow: 0px 1px 3px 2px rgba(97, 176, 219, 0.15);
    padding: 6px;
    font-weight: 500;
    margin-left: 5px;
}
.display, .create, .index, .profile {
    border: solid 1px rgba(227, 240, 247, 0.911);
    padding: 20px;
}

.display-content {
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
}
.display-content p span {
    color: rgba(179, 216, 236, 0.911);
    font-weight: 800;
}
.comment {
    color: rgba(8, 56, 82, 0.911);
    font-weight: 700;
    margin-left: 20px;
}

.comment-form {
    display: flex;
    gap: 20px;
}
.comment-form textarea {
    width: 200px;
    height: 30px;
    text-indent: 9px;
    resize: none;
}
.comment-form button {
    height: 30px;
    border-radius: 6px;
    color: green;
    border-style: none;
}

.profile-section {
    display: flex;
    flex-direction: row;
    background-color: rgb(5, 32, 32);
    color: white;
    height: 40px;
    gap: 50px;
    align-items: center;
    cursor: pointer;
}
#edit-profile-section input{
    border-radius: 5px;
    outline-style: none;
    border-width: 3px;
    border-color: rgba(227, 240, 247, 0.911);
    margin-top: 5px;
}
.hamburger-menu {
    display: none;
}

.form {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 6px;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 2px;
}
.form-field label {
    font-size: 16;
    font-weight: 600;
}
.form-field input {
    width: 300px;
    height: 20px;
    margin: 3px;
    border-color: rgba(227, 240, 247, 0.911);
    outline-style: none;
    padding: 6px;
    border-radius: 6px;
}
.form-field button {
    width: 100px;
    height: 30px;
    margin: 3px;
    border-color: rgba(227, 240, 247, 0.911);
    color: green;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
.form-field a {
    color: blue;
}


@media screen and (max-width: 450px) {
    .site-title {
        font-size: 15px;
        padding-left: 10px;
    }
    .menu {
        display: none;
        width: 100%;
    }

    .site-title {
        z-index: 1;
        width: fit-content;
        padding: 10px;
    }
    .site-title-side-bar {
        width: fit-content;
        padding: 10px;
    }
       
    .nav-bar {
        width: 100%;
    }

    .search-bar {
        margin-top: 6px;
        padding: 0;
        width: 100%;
    }
    .search-bar input{
        width: 80%;
        height: 40px;
        padding: 20px;
        border-radius: 6px;
        outline-style: none;
        border-width: 2px;
        border-color: rgba(227, 240, 247, 0.911);
    }
    .search-bar button{
        width: 20%;
        height: 40px;
        border-radius: 50px;
        color: green;
        border-style: none;
    }
    
    .body {
        width: 90%;
        margin: auto;
        margin-top: 10px;
        padding: 0;
    }
    .footer {
        width: 100%;
        padding-left: 3px;
        margin-left: 4px;
    }

    .profile-section {
        width: 100%;
        gap: 10px;
        justify-content: center;
        padding: 0;
        margin: 0;
        font-size: 14px;
    }
    
    .side-bar {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
        padding: 3px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2px;
        background-color: white;
    }

    .side-bar div {
        border: solid 1px black;
        width: 15px;
        color: white;    
        margin: 1px;    
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100vh;
        background-color: aliceblue;
        /* width: 100vw; */
        z-index: 99;
        padding-top: 30px;
        font-weight: 700;
    }
    
    #item {
        margin-left: 0;
        padding-top: 6px;
        margin-top: 6px;
    }
    .close-menu {
        position: absolute;
        top: 25px;
        right: 20px;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 200;
    }
    
    .close-menu div {
        position: absolute;
        width: 2px;
        height: 15px;
        background-color: red;
    }
    
    .close-menu div:nth-child(1) {
        transform: rotate(45deg);
    }
    
    .close-menu div:nth-child(2) {
        transform: rotate(-45deg);
    }

    .form-field input {
        width: 200px;
    }
    .form-field input::placeholder {
        padding: 4px;    
    }

    }